.merry{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: beige;
    width:500px;
    height: 500px;
    text-align: center;
}
h3{
    color: darkorange;
}
button{
    width: 250px;
    height: 50px;
    background-color: darkslategrey;
    color: aliceblue;
}
h5{
    font-size: 20px;
    margin-left: 500px;
}
.x {
    margin-left: 450px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}